body{
    background-color: rgb(0, 0, 0);
}

div{
    text-align: center;
    color: rgb(0, 0, 0);
}

button{
    background-color: #ff0000;
    border: none;
    color: aliceblue;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
}


.title{
    text-align: center;
    color: rgb(255, 255, 255);
}


.grid{
    margin: 0 auto;
    width: 60vh;
    height: 60vh;
    background-color: rgb(234, 255, 0);
    display: flex;
    flex-direction: column;
}

.gridRows{
    display: flex;
    flex: 1;
}

.gridCells{
    background-color: rgb(255, 255, 255);
    border-color: #ffffff;
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}



.x {
    color: red;
}

.O {
    color: blue
}
